{% extends "base.html" %}
{% block container %}
{% load staticfiles %}
<br>
<div class="container">
	<div class="row">
		<div classs="col-xs-12"><h1 class="text-primary">Get Involved</h1></div>
		<hr>
	</div>
    <br>
<div class='col-md-6'>
	<div class = "content">

                <br><h3 class="green_text"><b>7 things you can do today</b> to start learning or volunteer in a diverse community of coders</h3>
                <!--<p>Need help getting to RISE? <a class="presslink" href="http://www.youtube.com/watch?v=kvpxAYcov-k">Watch our video</a> for public transit directions.</p> -->

                <br><p><b>1. Attend an event with us</b><br>
                Intimidated by the hackathon and meet-up scene? Rather go with a friend than show up alone? Get in touch with us to find out which tech events we're attending and make plans to attend with one of our staff or fellows.</p> 

                <br><p><b>2. Mentor a fellow</b><br>
                Invest in the success of a Code for Progress Fellow by volunteering as a one-on-one mentor</a>.</p>

                <br><p><b>3. Teach or coach on a skill</b><br>
              	Spend some time in the classroom</a> running a workshop in your area of expertise - like resume building, networking, project management, or a coding skill.</p>

                <br><p><b>4. Make an introduction</b><br>
                Know of the perfect future fellow, partner organization, or guest instructor? Let us know!</a></p>

                <br><p><b>5. Get updates</b>
                <br>Stay up to date</a> on the latest Code for Progress news.</p>

                <br><p><b>6. Donate</b><br>
                Make a one-time donation or sign up to give every month.</p>

                <br><p><b>7. Volunteer another way</b><br>
                Have a passion for tech and social change but need a different way to channel it? Send us a note and we'll help you find a way that works.</p>




            </div>
        </div>
        <div class = "col-lg-5 col-lg-offset-1">
            <div class = "content">
                <br><br><img class = "img-responsive" src = {% static 'img/aurea_mentor.png' %} alt = "Fellow, Aurea Martinez with mentor, Hibah Hussain at 2014 Code For Progress Graduation">
                <p> 2014 fellow Aurea Martinez attends graduation with Hibah Hussain, Code for Progress mentor and Public Policy Analyst at Google.</p>
            </div>
        </div>
</div>

</div>

{% endblock %}