@import url(https://fonts.googleapis.com/css?family=Economica:400,400italic,700);

.navbar {
    margin-bottom: 0px;
}

.logo {
	font-size: 2.5em;
	color: rgb(28,117,188);
	font-family: 'Economica', sans-serif;
}

.logo .a:link {
    color: rgb(28,117,188);
}


.logo .a:hover {
    color: rgb(28,117,188);
}


.top { 
background: url("../img/bg.png") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.blue{
	background-color: rgb(28,117,188);
	padding-top: 2px;
}

.gray{
	background-color: rgb(230, 231, 232);
	padding-top: 2px;

}

.green{
	background-color: rgb(43,182,115);
	padding-top: 2px;
}

.cfp-footer{
	padding: 50px 20px 50px 5px;
	color: white;

}

.about-img-text{
	color: rgb(28,117,188);
	padding-top: 5px;

}

.text-green{
	color: rgb(43,182,115);
}

.text-blue{
	color: rgb(28,117,188);
}

.donate_button {
	margin-top: 15px;
}