{% extends "base.html" %}
{% block container %}
<div class="container-fluid top_banner">
    <div class="row">
        <div class="col-xs-12">
            <div class="container">
                <h1 class="raleway_header"><b class='text-blue'>|</b><b> About Us</b></h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-xs-4 blue"></div>
  <div class="col-xs-4 gray"></div>
  <div class="col-xs-4 green"></div>
</div>
<br><br>
    <div class="container">
    <div clas='row'>
        <div class='col-xs-12 col-md-6 col-md-offset-3 text-center'>
            <h2 class='text-blue'><b>Our Mission</b></h2>
            <p class="text-muted">Code For Progress brings women and people of color into the coding workforce through holistic investment in their technical training while providing communities of support.</p>
        </div>
    </div>
    <br><br><br><br>

     <div clas='row'>
        <div class='col-xs-12 col-md-6'>
            <h2><b class='text-green'>|</b> <b class='text-muted'>What is Code for Progress?</b></h2>
            <p class="text-muted">Code For Progress is a nonprofit organization that offers formalized coding training programs to women and people of color. We are based in Washington, DC and work with students, professionals, and organizations nationwide.</p>
        </div>
        <div class='col-xs-12 col-md-6'>
            <h2><b class='text-green'>|</b> <b class='text-muted'>What do we do?</b></h2>
            <p class="text-muted">Code For Progress offers a yearlong web development fellowship that includes an intensive 5-month instructor-led classroom training followed by a 6-month internship with one of our internship host partner organizations.
            </p>
        </div>
    </div>

      <div clas='row'>
    </div>



    <br><br>
</div>
{% endblock %}
