{% extends "base.html" %}
{% block container %}
<div class="container-fluid top_banner">
    <div class="row">
        <div class="col-xs-12">
            <div class="container">
                <h1 class="raleway_header"><b class='text-blue'>|</b><b> About Us</b></h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-xs-4 blue"></div>
  <div class="col-xs-4 gray"></div>
  <div class="col-xs-4 green"></div>
</div>
<br><br>
    <div class="container">
    <div clas='row'>
        <div class='col-md-12 text-center'>
            <h2 class='text-primary'>Our Mission</h2>
            <p class="text-muted lead">Code For Progress brings women and people of color into the coding workforce through holistic investment in their technical training while providing communities of support.</p>
        </div>
    </div>

     <div clas='row'>
        <div class='col-md-12'>
            <h2 class='text-primary'>What is Code for Progress?</h2>
            <p class="text-muted lead">Code For Progress is a nonprofit organization that offers formalized coding training programs to women and people of color. We are based in Washington, DC and work with students, professionals, and organizations nationwide.</p>
        </div>
    </div>

      <div clas='row'>
        <div class='col-md-12'>
            <h2 class='text-primary'>What do we do?</h2>
            <p class="text-muted lead">Code For Progress offers a yearlong web development fellowship that includes an intensive 5-month instructor-led classroom training followed by a 6-month internship with one of our internship host partner organizations. Through the internship program participants get the opportunity refine their tech skills in a real-world work environment.
            <br><br>
            Code For Progress also offers the Community Learning Series (CLS), an online training program that was developed to bring programming fundamentals to a broader audience. The CLS includes a list of Front-End and Back-End web development courses that will be offered through our online-training platform throughout the year.
            </p>
        </div>
    </div>



    <br><br>
</div>
{% endblock %}
