{% extends "base.html" %}
{% block container %}

<br><br><br>

<div class="container">
    <div class="row">
        <div class="col-md-8">
           <h3 class="raleway_subheader text-primary"><b>Several things you can do today to start learning or volunteer in a diverse community of coders</b></h3> 
           <br>
           <hr>
           <br>
        </div>

        <div class="row">
            <div class="col-md-8">

           <ul class="text-muted">
                <li><b>Host an internship </b><br>
                    Code for Progress Fellows move into full time paid internships after the five-month classroom training period. Find out how to host a fellow and help us build the pipeline into the coding workforce for women and people of color.
                </li>
                <br>
                <li><b>Sponsor a Fellow</b><br>
                Code for Progress supports its Fellows through holistic training and support, and through a stipend that covers all housing, living, and travel expenses during the five-month residency. Contact our senior staff to discuss how you can support a fellow from recruitment to graduation.</li>
                <br>
                <li><b>Mentor a Fellow</b><br>
                Invest in the success of a Code for Progress Fellow by volunteering as a one-on-one mentor.</li>
                <br>
                <li><b>Teach or coach on a skill</b><br>
                Spend some time in the classroom running a workshop in your area of expertise - like resume building, networking, project management, or a coding skill.</li>
                <br>
                <li><b>Build a Project</b><br>
                Code for Progress Fellows and staff have built sites and apps for organizations with social justice or civic engagement missions. Get in touch with us to find out how your staff or volunteers can learn about social justice tech while building tools alongside people like them</a></li>
                <br>
                <li><b>Get updates</b>
                <br>Stay up to date on the latest Code for Progress news.</li>
                <br>
                <li><b>Donate</b><br>
                Make a one-time donation or sign up to give</a> every month.</li>
                <br>
            </ul>
        </div>
        <br><br><br>
        <div class="col-md-4">
            <img src="/static/img/bj_3.png" alt = "Fellow, Bobby Joe Smith III"class="img-rounded" width="100%" height="100%">
            <div class="caption about-img-text">
                <p>2014 Fellow Bobby Joe Smith III works on front-end code during residency.</p>
            </div>
        </div>
    </div>
    </div>
</div>

<!-- <div class="jumbotron-title">
    <div class="container">
        <div class = "row">
            <div class = "col-md-6">
                <h1>Get Involved</h1>
            </div>
        </div>
    </div>
</div>
<div class = "container">
    <div class = "row">
        <div class = "col-md-6">
            <div class = "content">

                <br><h3 class="raleway_subheader text-primary"><b>8 things you can do today</b> to start learning or volunteer in a diverse community of coders</h3>

                <br>
                <p><b>1. Starting learning or volunteering at our Thursday Community Hack Nights. </b><br>
                Join us every Thursday for Community Hack Night, now at our temporary Northwest DC location, from 6-9pm on the second floor of Bread for the City (1525 7th Street NW, Washington, DC).</p>
                <p>Stay as long as you like and talk to peer learners about how to get started in coding and app design - or help us coach new coders if you have previous experience in app/site design or any coding language. We provide computers, but feel free to bring your own. There is no required fee or registration.</p>
        <p>Want to know more about what people like you are doing at hack night? <a class="presslink" href="{% url 'hacknight' %}"> Click here.</a></p> -->
                <!--<p>Need help getting to RISE? <a class="presslink" href="http://www.youtube.com/watch?v=kvpxAYcov-k">Watch our video</a> for public transit directions.</p> -->

<!--                 <br><p><b>2. Attend an event with us</b><br>
                Intimidated by the hackathon and meet-up scene? Rather go with a friend than show up alone? <a class="presslink" href="/contact">Get in touch with us</a> to find out which tech events we're attending and make plans to attend with one of our staff or fellows.</p> 

                <br><p><b>3. Mentor a fellow</b><br>
                Invest in the success of a Code for Progress Fellow by <a class="presslink" href="/contact">volunteering as a one-on-one mentor</a>.</p>

                <br><p><b>4. Teach or coach on a skill</b><br>
                <a class="presslink" href="/contact">Spend some time in the classroom</a> running a workshop in your area of expertise - like resume building, networking, project management, or a coding skill.</p>

                <br><p><b>5. Make an introduction</b><br>
                Know of the perfect future fellow, partner organization, or guest instructor? <a class="presslink" href="{% url 'contact' %}">Let us know!</a></p>

                <br><p><b>6. Get updates</b>
                <br><a class="presslink" href="/contact">Stay up to date</a> on the latest Code for Progress news.</p>

                <br><p><b>7. Donate</b><br>
                Make a <a class="presslink" href="{% url 'donate' %}">one-time donation</a> or <a class="presslink" href="/donate">sign up to give</a> every month.</p>

                <br><p><b>8. Volunteer another way</b><br>
                Have a passion for tech and social change but need a different way to channel it? <a class="presslink" href="/contact">Send us a note</span> and we'll help you find a way that works.</p>




            </div>
        </div>
        <div class = "col-lg-5 col-lg-offset-1">
            <div class = "content">
                <br><br><img class = "img-responsive" src = "/static/img/aurea_mentor.png" alt = "Fellow, Aurea Martinez with mentor, Hibah Hussain at 2014 Code For Progress Graduation">
                <p> 2014 fellow <a class="presslink" href="{% url 'fellow' fellow_firstname='Aurea' %}">Aurea Martinez</a> attends graduation with Hibah Hussain, Code for Progress mentor and Public Policy Analyst at Google.</p>
            </div>
        </div>
    </div>
</div>

        {% if messages %}
          {% for message in messages %}
                <div id="message" class="alert alert-{% if 'error' in message.tags %}danger{% else %}{{ message.tags }}{% endif %}">
                {{ message }}
                </div>
          {% endfor %}
        {% endif %}
 -->
{% endblock %}
