{% extends "base.html" %}
{% block container %}
{% load staticfiles %}
<div class="container-fluid top_banner">
    <div class="row">
        <div class="col-xs-12">
            <div class="container">
                <h1 class="raleway_header"><b class='text-blue'>|</b><b> The Fellowship</b></h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-xs-4 blue"></div>
  <div class="col-xs-4 gray"></div>
  <div class="col-xs-4 green"></div>
</div>
<br><br>
<div class="container">
    <br>
    <hr>
    <br>
<div class="row">
    <div class="container">
        <div class="col-md-12" id="the_program">
            <h2 class="text-green">The Fellowship</h2>
            <p class="lead text-muted">Code for Progress is a progressive coding community that brings new professionals into the field through classroom training and structured alumni programming that supports and develops our community of graduates for one year.<br><br>

            The training program starts with a 5-month residency, where students learn to code (in HTML, CSS, JavaScript, Python, and SQL), navigate the professional environment, and get hands-on experience applying their skills to build tools for real organizations.<br><br>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="container" id="what_to_expect">
        <div class="col-md-12">
            <h2 class="text-green">What to expect from a Code For Progress Fellowship</h2>

            <p class="lead">For their five-month residency, fellows:</p>
            <li>Receive housing and living stipends that allow them to live in DC and focus on learning</li>
            <li>Attend class from 9am-5pm, Monday through Friday</li>
            <li>Work with local organizations to develop technical solutions to real-world problems, understand the client-developer relationship, and manage projects from start to finish </li>
            <li>Are paired with a professional mentor who offers support throughout the yearlong Fellowship</li>
            <li>Have access to a robust team of technical coaches who are available during and outside of classroom hours to provide project support</li>
            <li>Receive professional development coaching, including resume and cover letter workshops, job search support, professional networking opportunities, etc.</li>

            <br><br>

            <p class="text-blue lead"><b>In the seven-month post-residency period,</b> fellows are expected to spend a total of 10 hours per months:</p>
            <ul>
                <li>Attending a weekly 30-minute community call with Code for Progress staff, other participants, and guest attendees</li>
                <li>Interacting weekly with their mentor as they move into and through new jobs and projects</li>
                <li>Returning to the program to give back to future students (for example, by serving as a guest instructor, staffing open office hours, or mentoring a participant)</li>
            </ul>
            <br><br>
            <p class="text-blue lead"><b>For post-residency</b> fellows and program alumni, Code For Progress provides: </p>
            <ul>
                <li>Opportunities for continuing education (like special topics trainings and alumni weekends)</li>
                <li>Open office space for graduates to work and seek/provide community support on current projects</li>
                <li>Continued staff and mentor support</li>
            </ul>
        </div>
    </div>
</div>
<div class='row'>
    <h2 class="text-green">What our the two tracks of the program</h2>
    <p class='text-muted'>
        Becoming a back-end web developer is about learning a way of thinking, not just about expertise with a specific set of tools. Frameworks come and go, but the skills we teach will serve you well no matter what you may go on to do in the future: back-end engineering, iOS development, big data, etc. For that reason, we also teach good software design and best-practices, algorithms and data structures, and code readings.
    </p>
</div>
<div class='row'>
    <div clas='col-xs-12 col-md-6'>
        <p class="text-blue lead"><b>Back-End Web Deveoplement Fellowship</p>
        <hr>
        <div class='row'>
            <div class='col-xs-12'>
                <div class="panel panel-default">
                  <div class="panel-body">
                    <p class='text-green'><b>Fundamentals of Programming</b></p>
                    <ul>
                        <li class="text-muted">Section One: Fundamentals of Programming and Pseudocode</li>
                        <li class="text-muted">Section Two: Computer Programming with Python</li>
                        <li class="text-muted">Section Three:  Big Data Programming with Python</li>
                    </ul>
                  </div>
                </div>
            </div>
        </div>

    </div>
    <div class='col-xs-12 col-md-6'>
        <p class="text-blue lead"><b>Front-End Web Deveoplement Fellowship</p>
    </div>
</div>

</div>
<script>

$('document').ready(function() {
        $('.read_more.stacks').on('click', function() {
            $(this).hide();
            $('.hidden_content.stacks').slideDown();
        });

        $('.read_more.schedule').on('click', function() {
            $(this).hide();
            $('.hidden_content.schedule').slideDown();
        });

        $('.read_more.badges').on('click', function() {
            $(this).hide();
            $('.hidden_content.badges').slideDown();
        });

        $('.read_more.words').on('click', function() {
            $(this).hide();
            $('.hidden_content.words').slideDown();
        });

});



</script>

{% endblock %}
