{% extends "base.html" %}
{% block container %}
{% load staticfiles %}
<div class="container-fluid top_banner">
    <div class="row">
        <div class="col-xs-12">
            <div class="container">
                <h1 class="raleway_header"><b class='text-blue'>|</b><b> The Fellowship</b></h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-xs-4 blue"></div>
  <div class="col-xs-4 gray"></div>
  <div class="col-xs-4 green"></div>
</div>
<br><br>
<div class="container">
    <br>
    <hr>
    <br>
<div class="row">
    <div class="container">
        <div class="col-md-12" id="the_program">
            <h2 class="text-green">The Fellowship</h2>
            <p class="lead text-muted">Code for Progress is a progressive coding community that brings new professionals into the field through classroom training and structured alumni programming that supports and develops our community of graduates for one year.<br><br>

            The training program starts with a 5-month residency, where students learn to code (in HTML, CSS, JavaScript, Python, and SQL), navigate the professional environment, and get hands-on experience applying their skills to build tools for real organizations.<br><br>

            The three-fold training covers:<br><br></p> 

            <p class="text-blue lead"><b>Human Centered Design,</b> where graduate are able to:</p>
            <ul>
                <li>Analyze human needs and design digital tools to address them</li>
                <li>Apply analytical skills in evaluating the needs of communities and the organizations that wish to engage them</li>
                <li>Use web applications, mobile tools, and data tools to help communities build their power and capacity to create change</li>
            </ul>

            <br>
            <br>

            <p class="text-blue lead"><b>Professional Development,</b> where graduates are able to:</p>
            <ul>
                <li>Write strong resumes and cover letters</li>
                <li>Conduct an efficient job search</li>
                <li>Give strong interviews, articulate their skills and discuss their strengths</li>
                <li>Confidently dress for interviews, business and business-casual occasions</li>
                <li>Network effectively and feel comfortable identifying and developing mentors and asking for help</li>
            </ul>

            <br><br>

            <p class="text-blue lead"><b>Contemporary web development,</b> where graduates are able to:</p>
            <ul>
                <li>Create dynamic, mobile-responsive interfaces for web pages and apps that area easy to use, even for novice computer users</li>
                <li>Use test-driven development to build working, bug-free applications that remain durable in the field</li>
                <li>Work as part of a team of developers that solves human problems with technological solutions</li>
                <li>Establish the information literacy to learn new technologies as they emerWrite code for basic data analysis</li>
                <li>Design databases to store and manage information</li>
                <li>Understand contemporary software design principles</li>
                <li>Manipulate RESTful APIs to make use of XML and JSON data</li>
                <li>Use HTML5, CSS3, and JavaScript/jQuery for front-end coding</li>
            </ul>

            <br><br>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="container" id="what_to_expect">
        <div class="col-md-12">
            <h2 class="text-green">What to expect from a Code For Progress Fellowship</h2>

            <p class="lead">For their five-month residency, fellows:</p>
            <li>Receive housing and living stipends that allow them to live in DC and focus on learning</li>
            <li>Attend class from 9am-5pm, Monday through Friday</li>
            <li>Work with local organizations to develop technical solutions to real-world problems, understand the client-developer relationship, and manage projects from start to finish </li>
            <li>Are paired with a professional mentor who offers support throughout the yearlong Fellowship</li>
            <li>Have access to a robust team of technical coaches who are available during and outside of classroom hours to provide project support</li>
            <li>Receive professional development coaching, including resume and cover letter workshops, job search support, professional networking opportunities, etc.</li>

            <br><br>

            <p class="text-blue lead"><b>In the seven-month post-residency period,</b> fellows are expected to spend a total of 10 hours per months:</p>
            <ul>
                <li>Attending a weekly 30-minute community call with Code for Progress staff, other participants, and guest attendees</li>
                <li>Interacting weekly with their mentor as they move into and through new jobs and projects</li>
                <li>Returning to the program to give back to future students (for example, by serving as a guest instructor, staffing open office hours, or mentoring a participant)</li>
            </ul>
            <br><br>
            <p class="text-blue lead"><b>For post-residency</b> fellows and program alumni, Code For Progress provides: </p>
            <ul>
                <li>Opportunities for continuing education (like special topics trainings and alumni weekends)</li>
                <li>Open office space for graduates to work and seek/provide community support on current projects</li>
                <li>Continued staff and mentor support</li>
            </ul>
        </div>
    </div>
</div>

</div>
<script>

$('document').ready(function() {
        $('.read_more.stacks').on('click', function() {
            $(this).hide();
            $('.hidden_content.stacks').slideDown();
        });

        $('.read_more.schedule').on('click', function() {
            $(this).hide();
            $('.hidden_content.schedule').slideDown();
        });

        $('.read_more.badges').on('click', function() {
            $(this).hide();
            $('.hidden_content.badges').slideDown();
        });

        $('.read_more.words').on('click', function() {
            $(this).hide();
            $('.hidden_content.words').slideDown();
        });

});



</script>

{% endblock %}
