{% extends "base.html" %}
{% block container %}
{% load staticfiles %}

<br><br><br>
<div class="container">
    <div class="row">
        <div classs="col-xs-12"><h1 class="raleway_subheader text-primary">Code for Progress brings women and people of color into the coding workforce through holistic investment in their technical training and communities of support</h1></div>
    </div>
    <br>
    <hr>
    <br>

<div class="row">
    <div class='container-fluid' stlyle="background-image:url('/img/happybg-min.png');">
   <!--      <div class='col-md-8 about-img-text'>
    <br>
            <h2 class="text-info">Quick Links</h2>
            <li class="text-info"><a href="{% url 'learn_portal' %}#what-is-cfp" class="lead text-info">What is Code for Progress?</a></li>
            <li class="text-info"><a class="lead text-info" href="{% url 'learn_portal' %}#why-cfp">Why Code for Progress?</a></li>
            <li class="text-info"><a class="lead text-info" href="{% url 'learn_portal' %}#the_program">The Program</a></li>
            <li class="text-info"><a class="lead text-info" href="{% url 'learn_portal' %}#what_to_expect">What to Expect</a></li>
            <br><br>
        </div> -->
<!--         <div class='col-md-4'>

                <img src="/static/img/cohort_dolores.png" alt = "Aurea and Angie" class="img-rounded" width="100%" height="100%">
                <div class="caption about-img-text">
                    <p>Labor leader and civil rights activist Dolores Huerta visits Code for Progress to talk with 2014 fellows about the link between coding and organizing for social change.</p>
                </div>
        </div> -->
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-md-12" id="what-is-cfp">
            <h2 class="text-green">What is Code For Progress</h2>
            <p class=" lead text-muted">Our year-long fellowship starts with a five month residency in Washington DC, where participants are trained in coding and human centered design, and are coached and mentored by talented local professionals. <br><br>
    
            All Code for Progress fellows receive a monthly stipend and housing allowance during their residency in DC. Then, we facilitate their transition into the tech sector where they use their skills as junior developers, database managers, innovation specialists, and other first coding positions. In the seven-month post-residency period, fellows are supported on the job with weekly check-in calls, ongoing professional mentorship and technical coaching, and opportunities to build new skills. <br><br>

            By intentionally removing barriers to technological training for women and people of color, Code for Progress cultivates a growing community of diverse professionals who have the technical skills and cultural competency to bring innovation to non-profits, government and industry.</p>    
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="container">
        <div class="col-md-12" id="why-cfp">
            <h2 class="text-green">Why Code For Progress</h2>
            <p class="lead text-muted">Identifying, recruiting, and training future leaders in technology has primarily fallen to a network of more than 150 nonprofit organizations and private companies. An October 2010 report published by the Association for Computing Machinery and the Computer Science Teachers Association documented the shocking state of computer science education in the U.S.1 Only 14 states had adopted significant education standards for high school computer science. Most states focused on basic skills such as keyboarding and using the Internet, rather than high-level concepts needed for 21st century jobs such as understanding and applying algorithmic and computational thinking. <br><br>

            As schools continue to focus funding on subjects recognized as core disciplines, few students have the opportunity to take rigorous, engaging computer science courses, and among those who do, there is little ethnic diversity. According to 2011 data compiled by the College Board on Advanced Placement Computer Science test-takers, only 15% were women, 3% were African American, and 6% were Latino.2 Similar issues are apparent in adult education programs that workers depend on to keep them hireable. The Kapor Center for Social Impact recently published a report identifying 153 programs that teach the basics of coding or computer science to both youth and adults.3 According to our analysis, of these programs, less than 5% had a stated mission of working with historically underrepresented populations. <br><br>

            This lack of availability and access to affordable workforce development and technology training for underrepresented communities is reflected in the challenges employers report when recruiting tech talent of color. <br><br>

            In the last few years, coding schools and bootcamps have emerged as a popular and effective way to train technology neophytes and move them into entry-level tech jobs. Unfortunately, many of these programs, with tuition as high as $20,000, are cost-prohibitive. Code for Progress is a unique alternative to for-profit bootcamps--our no-cost, culturally-competent curriculum is custom designed for women and people of color who do not have a background in tech. Our intensive, 5-month coding and human centered design trainings prepare Fellows for careers as technologists, and our 7-months of post-residency support and continuing education ensures that Fellows are successful in their first year on the job.<br><br></p>    
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="container">
        <div class="col-md-12" id="the_program">
            <h2 class="text-green">The Program</h2>
            <p class="lead text-muted">Code for Progress is a progressive coding community that brings new professionals into the field through classroom training and structured alumni programming that supports and develops our community of graduates for one year.<br><br>

            The training program starts with a 5-month residency, where students learn to code (in HTML, CSS, JavaScript, Python, and SQL), navigate the professional environment, and get hands-on experience applying their skills to build tools for real organizations.<br><br>

            The three-fold training covers:<br><br></p> 

            <p class="text-blue lead"><b>Human Centered Design,</b> where graduate are able to:</p>
            <ul>
                <li>Analyze human needs and design digital tools to address them</li>
                <li>Apply analytical skills in evaluating the needs of communities and the organizations that wish to engage them</li>
                <li>Use web applications, mobile tools, and data tools to help communities build their power and capacity to create change</li>
            </ul>

            <br>
            <br>

            <p class="text-blue lead"><b>Professional Development,</b> where graduates are able to:</p>
            <ul>
                <li>Write strong resumes and cover letters</li>
                <li>Conduct an efficient job search</li>
                <li>Give strong interviews, articulate their skills and discuss their strengths</li>
                <li>Confidently dress for interviews, business and business-casual occasions</li>
                <li>Network effectively and feel comfortable identifying and developing mentors and asking for help</li>
            </ul>

            <br><br>

            <p class="text-blue lead"><b>Contemporary web development,</b> where graduates are able to:</p>
            <ul>
                <li>Create dynamic, mobile-responsive interfaces for web pages and apps that area easy to use, even for novice computer users</li>
                <li>Use test-driven development to build working, bug-free applications that remain durable in the field</li>
                <li>Work as part of a team of developers that solves human problems with technological solutions</li>
                <li>Establish the information literacy to learn new technologies as they emerWrite code for basic data analysis</li>
                <li>Design databases to store and manage information</li>
                <li>Understand contemporary software design principles</li>
                <li>Manipulate RESTful APIs to make use of XML and JSON data</li>
                <li>Use HTML5, CSS3, and JavaScript/jQuery for front-end coding</li>
            </ul>

            <br><br>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="container" id="what_to_expect">
        <div class="col-md-12">
            <h2 class="text-green">What to expect from a Code For Progress Fellowship</h2>

            <p class="lead">For their five-month residency, fellows:</p>
            <li>Receive housing and living stipends that allow them to live in DC and focus on learning</li>
            <li>Attend class from 9am-5pm, Monday through Friday</li>
            <li>Work with local organizations to develop technical solutions to real-world problems, understand the client-developer relationship, and manage projects from start to finish </li>
            <li>Are paired with a professional mentor who offers support throughout the yearlong Fellowship</li>
            <li>Have access to a robust team of technical coaches who are available during and outside of classroom hours to provide project support</li>
            <li>Receive professional development coaching, including resume and cover letter workshops, job search support, professional networking opportunities, etc.</li>

            <br><br>

            <p class="text-blue lead"><b>In the seven-month post-residency period,</b> fellows are expected to spend a total of 10 hours per months:</p>
            <ul>
                <li>Attending a weekly 30-minute community call with Code for Progress staff, other participants, and guest attendees</li>
                <li>Interacting weekly with their mentor as they move into and through new jobs and projects</li>
                <li>Returning to the program to give back to future students (for example, by serving as a guest instructor, staffing open office hours, or mentoring a participant)</li>
            </ul>
            <br><br>
            <p class="text-blue lead"><b>For post-residency</b> fellows and program alumni, Code For Progress provides: </p>
            <ul>
                <li>Opportunities for continuing education (like special topics trainings and alumni weekends)</li>
                <li>Open office space for graduates to work and seek/provide community support on current projects</li>
                <li>Continued staff and mentor support</li>
            </ul>
        </div>
    </div>
</div>

</div>
<script>

$('document').ready(function() {
        $('.read_more.stacks').on('click', function() {
            $(this).hide();
            $('.hidden_content.stacks').slideDown();
        });

        $('.read_more.schedule').on('click', function() {
            $(this).hide();
            $('.hidden_content.schedule').slideDown();
        });

        $('.read_more.badges').on('click', function() {
            $(this).hide();
            $('.hidden_content.badges').slideDown();
        });

        $('.read_more.words').on('click', function() {
            $(this).hide();
            $('.hidden_content.words').slideDown();
        });

});



</script>

{% endblock %}
