{% extends "base.html" %}
{% block container %}       

{% load staticfiles %}

<div class="container-fluid top_banner">
    <div class="row">
        <div class="col-xs-12">
            <div class="container">
                <h1 class="raleway_header"><b>| Alumni</b></h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-xs-4 blue"></div>
  <div class="col-xs-4 gray"></div>
  <div class="col-xs-4 green"></div>
</div>
<br><br>
<div class="container">
{% for fellow in fellows %}
  <div class="row">
    <div class="col-md-2">
      <img class="img-circle" height="140" width="140" src="{% static 'img/'%}{{fellow.first_name}}.png" alt={{fellow.first_name}} />
    </div>

    <div class="col-md-10">
      <div class='row'>
          <div class='col-xs-12'><h4 class='text-primary'>{{fellow.first_name}} {{fellow.last_name}}, <strong>{{fellow.where_from}}</strong></h4></div>
          {% if fellow.current_job != "" %}<div class='col-xs-12'><h5 class="text-success"><strong>Hired as: </strong>{{fellow.current_job}}</h5></div>{% endif%}
      </div>
      <div class="row">
        <div class='col-xs-12'><p class="text-muted"><strong>About: </strong>{{fellow.page_text}}</p></div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
{% endfor %}

<br><br>
<div class="row">
  <div classs="col-xs-12"><a name="staff"></a><h1 class="text-primary">Staff</h1></div>
  <hr>
</div>

<!-- Naeem -->

<div class="row">
  <div class="col-md-2">
    <img src="{% static 'img/naeem.png' %}" alt="Director of Training" class="img-circle" height="140" width="140">
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-xs-12"><h3 class="text-primary">Naeem Yeager, Training Director</h3></div>
    </div>
    <div class="row">
      <div class="col-xs-12"><p class="text-muted">Before joining Code For Progress, Naeem worked as a freelance web programmer, building websites and applications. His interest in software began when he decided to build a website for a friend, having had no prior coding experience. He visited the library, and armed with book after book, got to work. Once the project was completed, he was hooked! Before truly committing himself to software, however, Naeem spent some time working as a Mortgage Underwriter for three years, but the force was too strong in this one and he quit that job after two years, fully committing himself to creating cool online tools. He now trains the next generation of full stack developers for Code For Progress.</p></div>
    </div>
  </div>
</div>
<br>
  <br>
  <br>
  <br>


<!-- End of Naeem -->



<!-- Mónica -->

<div class="row">
  <div class="col-md-2">
    <img src="{% static 'img/monica.png' %}" alt="Operations Manager" class="img-circle" height="140" width="140">
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-xs-12"><h3 class="text-primary">Mónica Marcano, Operations Manager</h3></div>
    </div>
    <div class="row">
      <div class="col-xs-12"><p class="text-muted">Mónica is a proud and regular contributor to the Code For Progress organization; most recently acting as Operations Manager, and year ago she worked with the Code for Progress team to create the Buscando app. She currently works as the Director of Client Services for echo19 a communications and data acquisition plattform for progressive organizations. Mónica's entrepreneurship adventures have led her to new interests in data science, technology and web development. She enjoys knitting, woodcarving and brushing up on coding skills- currently conquering front-end web development.</p></div>
    </div>
  </div>
</div>
<br>
  <br>
  <br>
  <br>

<!-- End of Mónica -->



<!-- Dirk -->
<!-- 
<div class="row">
  <div class="col-md-2">
    <img src="{% static 'img/dirk_small_headshot.jpg' %}" alt="Board Chair" class="img-circle" height="140" width="140">
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-xs-12"><h3 class="text-primary">Dirk Wiggins, Board Chair</h3></div>
    </div>
    <div class="row">
      <div class="col-xs-12"><p class="text-muted">Dirk Wiggins is the CEO a co-founder of echo19 communications, has previously spent a decade consulting in various positions for electoral political campaigns, and another decade in tech development in higher education, governments, and startup enterprises. Over the years he's learned that talent is universal, but the opportunities to develop talent are not... yet.</p></div>
    </div>
  </div>
</div>
<br>
  <br>
  <br>
  <br> -->

<!-- End of Dirk-->
</div>





<!-- 
    <div class="jumbotron-title">
      <div class="container">
          <div class = "col-xs-12">
                <h1>Staff & Fellows</h1>
          </div>
      </div>
    </div>


  <div class="container content">



<h2>2014 Fellows</h2>

    {% for fellow in fellows %}
      <div class="row person_holder">
            <div class="col-sm-3 text-center">
              <img class="person-image" src="{% static 'img/'%}{{fellow.first_name}}.png" alt={{fellow.first_name}} />
            </div>
            
            <div class="col-sm-7 col-sm-offset-2 col-md-offset-0">
              <h2 class="green_text">{{fellow.first_name}} {{fellow.last_name}}</h2>
              <h4><span class="charcoal_text"><b>Originally from</b></span>: {{fellow.where_from}}</h4>
              {% if fellow.current_job != "" %}<h4><span class="charcoal_text"><b>Hired as</b></span>:  {{fellow.current_job}}</h4>{% endif %}
              <p><span class="charcoal_text"><b>About</b></span>: " {{fellow.page_text|truncatechars:140}}..." <a class="presslink" href="{% url 'fellow' fellow_firstname=fellow.first_name %}">Read more >>></a></p>
            </div>


      </div>
    {% endfor %}
</div>
<div class="container content">


<br><br><h2>Staff</h2>
      <div class="row person_holder center-block">
        
          <div class="col-sm-3">
            <img class="person-image" src="{% static 'img/dirk_small_headshot.jpg' %}" alt="Board Chair" />
          </div>          
          
          <div class="col-sm-7 col-sm-offset-2 col-md-offset-0">
            <h2 class="green_text">Dirk Wiggins</h2>
            <h4>Board Chair</h4>
            <p>Dirk Wiggins is the CEO a co-founder of echo19 communications, has previously spent a decade consulting in various positions for electoral political campaigns,... <a class="presslink" href="{% url 'board_chair' %}">Read more >>></a></p>
          </div>

      </div>


    </div>
  
</div> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(document).ready(function(){

    $('.person-image').on('mouseenter', function() {
        $(this).animate({'height':'220px'}, 'fast');
    }).on('mouseleave', function() {
        $(this).animate({'height':'200px'}, 'fast');
    });

});

</script>
    
{% endblock %}  
